[bumpversion]
current_version = 0.3.1final0
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)((?P<release>[a-z]+)(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = final
values = 
	alpha
	rc
	final

[bumpversion:part:build]

[bumpversion:file:jupyterfs/_version.py]

[bumpversion:file:js/package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"
serialize = 
	{major}.{minor}.{patch}-{release}.{build}
	{major}.{minor}.{patch}
