language: python
cache: 
  - pip
  - npm

python:
  - "3.6"

install:
    - pip install -r requirements.txt
    - pip install -U pytest pytest-cov flake8 pylint codecov
    - yarn

script:
  - make lint
  - make test

after_success:
    - codecov --token f8bb472f-43b1-47b4-ab74-24649e25a254

branches:
  only:
  - master

notifications:
  email: false
