# set VIRTUAL_ENV to the root of your venv
VIRTUAL_ENV="<root-of-your-venv>"

# jupyter env vars
JUPYTER_CONFIG_DIR="${VIRTUAL_ENV}/.jupyter"
JUPYTER_PATH="${VIRTUAL_ENV}/share/jupyter"
JUPYTER_RUNTIME_DIR="${JUPYTER_PATH}/runtime"

# jupyterlab env vars
JUPYTERLAB_DIR="${VIRTUAL_ENV}/share/jupyter/lab"
JUPYTERLAB_SETTINGS_DIR="${VIRTUAL_ENV}/.jupyter/lab"
JUPYTERLAB_WORKSPACES_DIR="${VIRTUAL_ENV}/.jupyter/lab"