name: Build Status

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - LICENSE
      - README.md
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11"]
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v6

    - uses: actions-ext/python/setup@v2
      with:
        version: ${{ matrix.python-version }}

    - uses: actions-ext/node/setup@v2
      with:
        version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: make develop

    - name: Setup Linux testing infra
      run: make setup-infra-ubuntu DOCKER_COMPOSE="docker compose"
      if: ${{ matrix.os == 'ubuntu-latest' }}

    - name: Setup Mac testing infra
      run: sudo make setup-infra-mac
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Setup Windows testing infra
      run: make setup-infra-win
      if: ${{ matrix.os == 'windows-latest' }}

    - name: Setup common testing infra
      run: make setup-infra-common

    - name: Lint
      run: make lint
      if: matrix.os == 'ubuntu-latest'

    - name: Checks
      run: make checks
      if: matrix.os == 'ubuntu-latest'

    - name: Build
      run: make build

    - name: Test
      run: make coverage
      if: matrix.os != 'windows-latest'

    - name: Teardown Linux testing infra
      run: make teardown-infra-ubuntu DOCKER_COMPOSE="docker compose"
      if: ${{ matrix.os == 'ubuntu-latest' }}

    - name: Teardown Mac testing infra
      run: make teardown-infra-mac
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Teardown Windows testing infra
      run: make teardown-infra-win
      if: ${{ matrix.os == 'windows-latest' }}

    - name: Teardown common testing infra
      run: make teardown-infra-common

    - name: Upload test results (Python)
      uses: actions/upload-artifact@v5
      with:
        name: test-results-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.node-version }}
        path: '**/junit.xml'
      if: ${{ always() }}

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        files: '**/junit.xml'
      if: matrix.os == 'ubuntu-latest'

    - name: Make dist
      run: make dist
      if: matrix.os == 'ubuntu-latest'

    - uses: actions/upload-artifact@v5
      with:
        name: dist-${{matrix.os}}
        path: dist
      if: matrix.os == 'ubuntu-latest'
